<!DOCTYPE html>

<html height="600" style="height: 600px">
<head>
	<script type="text/javascript" src="../js/lib/jquery.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<link rel="stylesheet" href="../css/bootstrap.min.css">    
	<link rel="stylesheet" href="../css/app.css">    
</head>

<body tabindex="0" height="600" style="height: 600px">
	<a href="#" class="sign-out" style="color: #999">Sign Out</a>

	<div id='leads-table'>
		<table style="margin: 0 20px" class='table'>
			<tbody>
				
			</tbody>
		</table>
	</div>
	
	<div class="overlay"></div>

	<div class="post-success post-info">
		Your presentation has been sent has been posted!
		<a href="#" target="_blank" class="lead-url">View it here</a>
	</div>

	<div class="post-error post-info">
		Presentation saving error
		<div class="validation-errors"></div>
	</div>

</body>
</html>
